.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.text-bold{
    font-weight: bold;
    justify-content: flex-end;
}
.text-left{
    justify-content: left;
}

.table tr td{
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem
}

.fieldset { border:1px solid #e3e3e3 }

.legend {
  padding: 0.2em 0.5em;
  border:1px solid #e3e3e3;
  font-size:90%;
  text-align:center;
  }