.c_47AB1A0B-7D46-491C-9D75-63BD31F8C907{
    background-color: red;
    padding: 5px;
    font-weight: bold;
}

.c_40C3A4A9-F60C-4FFD-8CF8-100C6BED0647{
    background-color: green;
    padding: 5px;
    font-weight: bold;
}

.c_00E57127-9CC3-41F4-BEB3-064C02E14989{
    background-color: blue ;
    padding: 5px;
    font-weight: bold;
}