<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal" >
                <div class="row">
                    <div class="col-sm-7 text-left">
                        <div class="form-inline">
                            <button style="submit" [disabled]="!form.valid" class="k-button k-primary" type="button" (click)="onSave()"><i class="fa fa-save"></i>&nbsp; Save</button> &nbsp;
                            <button class="btn btn-danger" type="button" class="k-button" (click)="onBack()"><i class="fa fa-trash"></i>&nbsp; Cancel</button>
                        </div>
                    </div>
                    <div class="col-sm-5 text-right">
                    </div>
                </div>
                <hr/>

                <fieldset>                        
                    <legend>Over view</legend>
                    <div class="form-inline">
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">First Name: 
                                <kendo-dropdownlist  
                                    [(ngModel)]="selectedItemSalutation"
                                    [data]="selectedSalutation"
                                    [textField]="'text'"
                                    [valueField]="'value'" class="col-sm-6" formControlName="salutation">
                                </kendo-dropdownlist>
                            </label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" autofocus formControlName="firstName"/>
                            </div>
                        </div>
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Birthday:</label>
                            <div class="row col-sm-8">
                                <kendo-datepicker  [format]="'yyyy/MM/dd'" class="row col-sm-11" formControlName="birthday">
                                </kendo-datepicker>
                            </div>                                                       
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">LastName:</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="lastName"/>
                            </div>                            
                        </div>
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Office Phone:</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="phoneWork"/>  
                            </div> 
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Title</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="title"/>
                            </div>
                        </div>
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Mobile</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="phoneMobile"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Department:</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="department"/>
                            </div>
                        </div>
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Fax:</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="phoneFax"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Account:</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="accountId" [(ngModel)] = "accountNameModel"/>
                            </div>
                        </div>
                        <div class="col-sm-6 form-inline margin-top-10">
                            <button text-right class="k-button k-primary" type="button" (click)="onSelectAccount()">Select Account</button> &nbsp;
                            <button text-right class="btn btn-danger" type="button" class="k-button" (click)="onCLearAccount()">Clear Accout</button>
                        </div>
                    </div>
                    <div class="form-inline">
                        <fieldset class="fieldset col-sm-6 form-inline margin-top-10" >                        
                            <legend class="legend" style="font-size:14px;">Primary address</legend>
                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Primary Address Street:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="primaryAddressStreet"/>
                                </div>
                            </div>

                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Primary City:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="primaryAddressCity"/>
                                </div>
                            </div>

                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Primary State:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="primaryAddressState"/>
                                </div>
                            </div>

                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Primary Address Post Code:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="primaryAddressPostCode"/>
                                </div>
                            </div>
                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Primary Country:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="primaryAddressCountry"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset col-sm-6 form-inline margin-top-10">                        
                            <legend class="legend" style="font-size:14px;">Other address</legend>
                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Other Address Street:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="altAddressStreet"/>
                                </div>
                            </div>

                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Other City:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="altAddressCity"/>
                                </div>
                            </div>

                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Other State:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="altAddressState"/>
                                </div>
                            </div>

                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Other Address Post Code:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="altAddressPostCode"/>
                                </div>
                            </div>

                            <div class="form-inline margin-top-10">
                                <label class="col-sm-5 text-left">Other Country:</label>
                                <div class="row col-sm-7">
                                    <input type="text" kendoTextBox class="col-sm-12" formControlName="altAddressCountry"/>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>

                <hr>
                <fieldset>                        
                    <legend>Email setting</legend>
                    <div class="form-inline">
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Email address:</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="primaryAddressStreet"/>
                            </div>
                        </div>

                        <div class="col-sm-6 margin-top-10">
                            
                        </div>
                    </div>
                </fieldset>

                <hr>
                <fieldset>                        
                    <legend>Other</legend>
                    <div class="form-inline">
                        <div class="col-sm-6 form-inline margin-top-10">
                            <label class="col-sm-4 text-left">Assign to:</label>
                            <div class="row col-sm-8">
                                <input type="text" kendoTextBox class="col-sm-10" formControlName="assignedUserId" [(ngModel)]="userAssignName"/>
                            </div>
                        </div>

                        <div class="col-sm-6 form-inline margin-top-10">
                            <button text-left class="k-button k-primary" type="button" (click)="onSelectUser()">Select User</button> &nbsp;
                            <button text-left class="btn btn-danger" type="button" class="k-button" (click)="onClearUser()">Clear User</button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <!-- Dialog Error-->
          <kendo-dialog *ngIf="errorDialog" (close)="onCloseErrorDialog()" [minWidth]="250" [width]="450">
            <kendo-dialog-titlebar style="background-color: red;">
                <div style="font-size: 18px; line-height: 1.3em;">
                <span class="k-icon k-i-warning"></span> Error
                </div>
            </kendo-dialog-titlebar>
            <p style="margin: 30px; text-align: center;">{{contentError}}</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="onCloseErrorDialog()">Cancel</button>
            </kendo-dialog-actions>
        </kendo-dialog>

        <!-- Dialog account-->
        <kendo-dialog *ngIf="accountDialog" (close)="onCloseAccountDialog()" [minWidth]="1200" [width]="800">
                <kendo-dialog-titlebar style="background-color: red;">
                    <div style="font-size: 18px; line-height: 1.3em;">
                    <span class="k-icon k-i-warning"></span> Select account
                    </div>
                </kendo-dialog-titlebar>
                
                  <div class="row margin-bottom-10">
                    <div class="col-sm-7 text-left">
                        <div class="form-inline row">
                            <label class="col-sm-1 control-label text-bold" style="justify-content: left;" for="inputName">Name </label>
                            <input kendoTextBox type="text" name="search" class="col-sm-4" [(ngModel)]="inputName"/>
                            <div class="col-sm-2">
                                <button kendoButton [iconClass]="'fa fa-search fa-fw'" [primary]="true" type="button" (click)="onSearchAccount()">&nbsp;Search&nbsp;</button>
                            </div>
                            <div class="col-sm-3">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 text-right">
                    </div>
                  </div>
    
                  <table class="table table-bordered table-striped table-condensed" style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>User</th>
                        <th>Email</th>
                        <th style="width:130px;">Date Created</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of accountList" (dblclick)="onAccountSelect(item)">
                            <td>{{item.name}}</td>
                            <td>{{isNull(item.billingAddressStreet) + ' ' + isNull(item.billingAddressState) + ' ' +  isNull(item.billingAddressCity) + ' ' + isNull(item.billingAddressCountry)}}</td>
                            <td>{{item.phoneOffice}}</td>
                            <td>{{item.emailAddress}}</td>
                            <td>{{item.emailAddress}}</td>
                            <td>{{ConvertIntToDateTime(item.dateEntered)}}</td>
                        </tr>
                    </tbody>
                </table>
    
                <kendo-dialog-actions>
                    <button kendoButton (click)="onCloseAccountDialog()">Cancel</button>
                </kendo-dialog-actions>
            </kendo-dialog>
    
            <!-- Dialog User-->
            <kendo-dialog *ngIf="userDialog" (close)="onCloseUserDialog()" [minWidth]="1200" [width]="800">
                <kendo-dialog-titlebar style="background-color: red;">
                    <div style="font-size: 18px; line-height: 1.3em;">
                    <span class="k-icon k-i-warning"></span> Select User
                    </div>
                </kendo-dialog-titlebar>
                
                  <div class="row margin-bottom-10">
                    <div class="col-sm-7 text-left">
                        <div class="form-inline row">
                            <label class="col-sm-1 control-label text-bold" style="justify-content: left;" for="inputName">Name </label>
                            <input kendoTextBox type="text" name="search" class="col-sm-4" [(ngModel)]="inputNameUser"/>
                            <div class="col-sm-2">
                                <button kendoButton [iconClass]="'fa fa-search fa-fw'" [primary]="true" type="button" (click)="onSearchContact()">&nbsp;Search&nbsp;</button>
                            </div>
                            <div class="col-sm-3">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 text-right">
                    </div>
                  </div>
    
                  <table class="table table-bordered table-striped table-condensed" style="margin-top: 10px;">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Title</th>
                        <th>Department</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th style="width:180px;">System Administrator</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userList" (dblclick)="onUserSelect(item)" >
                            <td>{{item.firstName + ' ' + item.lastName}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.department}}</td>
                            <td>{{item.phoneMobile}}</td>
                            <td>{{item.status}}</td>
                            <td><label class="k-form-field" *ngIf="item.isAdmin">
                                <input type="checkbox" class="k-checkbox"  checked="">
                                <label class="k-checkbox-label" for="auth-2fa"></label>
                                </label>
                                </td>
                        </tr>
                    </tbody>
                </table>
    
                <kendo-dialog-actions>
                    <button kendoButton (click)="onCloseUserDialog()">Cancel</button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>
    </div>
</div>