<div class="animated fadeIn">
    <div class="card">
        <div class="card-block" *ngIf="dept">
            <fieldset>                        
                <legend>Over view</legend>
                <div class="form-inline">
                    <div class="col-sm-6 form-inline margin-top-10">
                        <label class="col-sm-4 text-left text-bold">Name:</label>
                        <span class="col-sm-8 dotted">{{dept.name}}</span>
                    </div>
                    <div class="col-sm-6 form-inline margin-top-10">
                        <label class="col-sm-4 text-left text-bold">Description:</label>
                        <span class="col-sm-8 dotted">{{dept.description}}</span>
                    </div>
                </div>

                <div class="form-inline">
                    <div class="col-sm-6 form-inline margin-top-10">
                        <label class="col-sm-4 text-left text-bold">Team leader:</label>
                        <span class="col-sm-8 dotted">{{dept.learderName}}</span>
                    </div>
                    <div class="col-sm-6 form-inline margin-top-10">
                        <label class="col-sm-4 text-left text-bold"></label>
                        <span>&nbsp;</span>
                    </div>
                </div>

            </fieldset>
            <hr/>

            <fieldset>                        
                <legend>Users</legend>
                <table class="table table-bordered table-striped table-condensed" style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Phone</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of usersOfDept">
                            <td>{{item.firstName + item.lastName}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.phoneOther}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <hr/>
            <div class="row">
                <div class="col-sm-7 text-left">
                    <div class="form-inline">
                        <button class="k-button k-primary" type="button" (click)="onEdit(dept.id)"><i class="fa fa-pencil"></i>&nbsp; Edit</button> &nbsp;
                        <button class="btn btn-danger" type="button" class="k-button" (click)="onBack()"><i class="fa fa-trash"></i>&nbsp; Cancel</button>
                    </div>
                </div>
                <div class="col-sm-5 text-right">
                </div>
            </div>
        </div>
    </div>
</div>