.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.text-bold{
    font-weight: bold;
    justify-content: flex-end;
}

#cke_editor1{
    width: 103px !important;
}

#cke_editor2{
    width: 103px !important;
}

.text-left{
    justify-content: left;
}

.table tr td{
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem
}