<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
          <form class="k-form-inline" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-left">
                <button style="submit" class="k-button k-primary" type="button" (click)="onSave()"><i class="fa fa-save"></i>&nbsp; Save</button>
                <button class="btn btn-danger" type="button" class="k-button" (click)="onBack()"><i class="fa fa-trash"></i>&nbsp; Cancel</button>
            </div>  
            <hr/>
              <label class="k-form-field col-sm-6">
                  <span class="col-sm-2">Name</span>
                  <input class="k-textbox" style="width:auto;" autofocus formControlName="name" />
              </label>
              <label class="k-form-field col-sm-12">
                  <span class="col-sm-1" style="margin-top:-170px;">Description</span>
                  <textarea class="k-textarea" style="width:auto;" cols="1000" rows="10" required="required" formControlName="description"></textarea>
              </label>
          </form>

          <!-- Dialog Error-->
          <kendo-dialog *ngIf="errorDialog" (close)="onCloseErrorDialog()" [minWidth]="250" [width]="450">
            <kendo-dialog-titlebar style="background-color: red;">
                <div style="font-size: 18px; line-height: 1.3em;">
                <span class="k-icon k-i-warning"></span> Error
                </div>
            </kendo-dialog-titlebar>
            <p style="margin: 30px; text-align: center;">{{contentError}}</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="onCloseErrorDialog()">Cancel</button>
            </kendo-dialog-actions>
          </kendo-dialog>
      </div>
    </div>
  </div>