<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-7 text-left">
                <div class="form-inline">
                    <button class="k-button k-primary" type="button" (click)="onCreateCall()">Create Call</button> &nbsp;
                    <button class="btn btn-danger" type="button" class="k-button" (click)="onCreateCase()">Create Case</button>
                </div>
            </div>
            <div class="col-sm-5 text-right">
            </div>
        </div>
        <hr/>

        <fieldset>                        
            <legend>Customer Info</legend>
            <div class="form-inline">
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Name:</label>
                    <span class="col-sm-8 dotted">{{contact.salutation + ' ' + contact.firstName + ' ' + contact.lastName}}&nbsp;</span>
                </div>
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Office phone:</label>
                    <span class="col-sm-8 dotted">{{contact.phoneWork}} &nbsp;</span>
                </div>
            </div>

            <div class="form-inline">
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Title:</label>
                    <span class="col-sm-8 dotted">{{contact.title}} &nbsp;</span>
                </div>
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Mobile:</label>
                    <span class="col-sm-8 dotted">{{contact.phoneMobile}} &nbsp;</span>
                </div>
            </div>

            <div class="form-inline">
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Department:</label>
                    <span class="col-sm-8 dotted">{{contact.department}} &nbsp;</span>
                </div>
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Fax:</label>
                    <span class="col-sm-8 dotted">{{contact.phoneFax}} &nbsp;</span>
                </div>
            </div>

            <div class="form-inline">
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Account name:</label>
                    <span class="col-sm-8 dotted">{{contact.accountId}} &nbsp;</span>
                </div>
                <div class="col-sm-6 form-inline margin-top-10">
                    

                </div>
            </div>

            <div class="form-inline">
                <div class="col-sm-6 form-inline margin-top-10">
                    
                    <label class="col-sm-4 text-left text-bold">Primary address:</label>
                    <span class="col-sm-8 dotted">{{contact.primaryAddressStreet}} &nbsp;</span>
                    
                    <label class="col-sm-4 text-left text-bold">&nbsp;</label>
                    <span class="col-sm-8 dotted">{{contact.primaryAddressState}} &nbsp;</span>

                    <label class="col-sm-4 text-left text-bold">&nbsp;</label>
                    <span class="col-sm-8 dotted">{{contact.primaryAddressCity}} &nbsp;</span>

                    <label class="col-sm-4 text-left text-bold">&nbsp;</label>
                    <span class="col-sm-8 dotted">{{contact.primaryAddressCountry}} &nbsp;</span>
                </div>
                <div class="col-sm-6 form-inline margin-top-10">
                    <label class="col-sm-4 text-left text-bold">Other address:</label>
                    <span class="col-sm-8 dotted">{{contact.altAddressStreet}} &nbsp;</span>
                    
                    <label class="col-sm-4 text-left text-bold">&nbsp;</label>
                    <span class="col-sm-8 dotted">{{contact.altAddressState}}&nbsp;</span>

                    <label class="col-sm-4 text-left text-bold">&nbsp;</label>
                    <span class="col-sm-8 dotted">{{contact.altAddressCity}}&nbsp;</span>

                    <label class="col-sm-4 text-left text-bold">&nbsp;</label>
                    <span class="col-sm-8 dotted">{{contact.altAddressCountry}}&nbsp;</span>
                </div>
            </div>

            <div class="form-inline">
                <div class="col-sm-12 form-inline margin-top-10">
                    <label class="col-sm-2 text-left text-bold">Descripton:</label>
                    <span class="col-sm-10 dotted">{{contact.description}} &nbsp;</span>
                </div>
            </div>
        </fieldset>
    </div>
  </div>
</div>

<div class="form-inline">
  <div class="animated fadeIn col-md-12">
    <div class="card row">
      <div class="card-block">  
            <tabset>
                    <tab>
                      <ng-template tabHeading><i class="icon-calculator"></i> Call history list</ng-template>
                      <table class="table table-condensed" style="margin-top: 10px;">
                          <thead>
                              <tr>
                                <th>Close</th>
                                <th>Direction</th>
                                <th>Subject</th>
                                <th>RelatedTo</th>
                                <th>Start Date</th>
                                <th>Assigned To</th>
                                <th>Date Created</th>
                            </tr>
                          </thead>
                            <tbody>
                                <tr *ngFor="let item of calls">
                                    <td>
                                        <label class="k-form-field" *ngIf="item.status == 'Held'">
                                            <input type="checkbox" class="k-checkbox"  checked="">
                                            <label class="k-checkbox-label" for="auth-2fa"></label>
                                        </label>
                                    </td>
                                    <td>{{item.direction}}</td>
                                    <td>{{item.subject}}</td>
                                    <td>{{item.relatedTo}}</td>
                                    <td>{{ConvertIntToDateTime(item.dateStart)}}</td>
                                    <td>{{getUser(item.userId)}}</td>
                                    <td>{{ConvertIntToDateTime(item.dateEntered)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
                    <tab>
                      <ng-template tabHeading><i class="icon-calculator"></i> Case history list</ng-template>
                      <table class="table table-condensed" style="margin-top: 10px;">
                            <thead>
                                <tr>
                                    <th>Num</th>
                                    <th>Subject</th>
                                    <th>Account Name</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                    <th>Assign To</th>
                                    <th style="width:130px;">Date Created</th>
                                </tr>
                            </thead>

                            <tbody>
                                    <tr *ngFor="let item of cases" (dblclick)="ViewCase(item.id)">
                                        <td>{{item.caseNumber}}</td>
                                        <td>{{item.subject}}</td>
                                        <td>{{onGetAccountNameByID(item.accountId)}}</td>
                                        <td>{{item.priority}}</td>
                                        <td>{{onGetStatusByID(item.statusId)}}</td>
                                        <td>{{onGetUserByUserID(item.assignToId)}}</td>
                                        <td>{{ConvertIntToDateTime(item.dateEntered)}}</td>
                                    </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>
            </div>
        </div>
  </div>
</div>